.dashboard-tabs a {
    color: #212529;
    text-decoration: none;
}
.table tr:hover td {
    cursor:pointer;
    text-shadow: 1px 1px 1px #A8A8A8;
}
.dashboard-tabs a:hover {
    color: #AD2851;
}
.dashboard-tabs {
    border-top: 10px solid #AD2851;
    box-shadow: 0px 0px 5px;
}
.dashboard-tabs .nav-select-side {
    background: #AD2851;
    padding: 0px;
}
.dashboard-tabs .nav{
    display: block;    
}
.dashboard-tabs .nav-select-side a.nav-link:hover{
    transition: .3s all;
    font-size: 1.1em;
    background: #8a1e3f;
    text-shadow: 0px 0px 5px;
}
.dashboard-tabs .nav-select-side a.nav-link {
    color:#ffffff;
    
}
.dashboard-tabs .nav-select-side .nav-item .nav-link {
    font-size: .8rem;
    padding: 8px 30px;
    background: #1E1E1E;
}
.dashboard-tabs .nav-select-side .nav-item .nav-link:hover {
    background: #79223c;
    color:#ffffff;
    transition: .3s all;
    font-size: 0.85em;
}

.dashboard-tabs .nav-select-side .nav-link:focus {
    background: #ffffff;
    color: #79223c;
}
.dashboard-tabs .nav-select-side .dropdown-toggle.nav-link:focus {
    background: #79223c;
    color: #ffffff;

}

.dashboard-tabs .nav-content-side {
     overflow: hidden;
}
.dashboard-tabs .tab-content {
    position: absolute;
    /* opacity: 0; */
}
.dashboard-tabs .tab-content>.tab-pane {
    transition: 1s all;
    /* max-height: 0vh; */
    overflow: hidden;
    display: block;
}

.dashboard-tabs .tab-content>.active {
    display: block;
    /* max-height: 150vh; */
    
}
.extend {
     display: block;
    
}